<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>app-store-connect</string>
    <key>signingStyle</key>
    <string>manual</string>
    <key>compileBitcode</key>
    <true/>
    <key>stripSwiftSymbols</key>
    <true/>
    <key>teamID</key>
    <string>MNGTD992QD</string>
    <key>provisioningProfiles</key>
    <dict>
        <key>com.snslocation.electricians-now</key>
        <string>d32433c2-c4e5-4c06-be04-421c96129209</string>
    </dict>
</dict>
</plist>
